body {
    /* background-color:gray; */
    font-family:"Nunito", sans-serif;
    font-size:24px;
}

.container {
    background-color: white;
    width:1200px;
    margin:36px auto;
    padding:36px;

}

.container img {
    width: 100%;
}

.title {
    font-size:52px;
    font-weight:1000;
    padding:8px;
    border-bottom: 5px solid coral;
        
}

.recipe-list {
    margin-left: -16px;   
}

li {
    padding:4px;
    
}

ul li::marker {
    color:coral;
}

ol li::marker {
    color:coral;
    font-weight:bolder;
}

a {
    color:black;
    font-weight: bold;
    text-decoration-line: none;
}

a:hover, a:hover:visited {
    color:coral;
}

a:visited {
    color:cadetblue;
}

h2 {
    font-size:42px;
    text-decoration: underline;
    text-decoration-color:coral;
    text-underline-offset: 12px;

}

.description {
    padding-top:8px;
}